<div id="<%= dom_id produto %>">
  <p>
    <strong>Nome:</strong>
    <%= produto.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= produto.description %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= produto.price %>
  </p>

  <p>
    <strong>Disponível:</strong>
    <%= produto.available %>
  </p>

</div>
