<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div>
  <%= link_to "Editar produto", edit_produto_path(@produto) %> |
  <%= link_to "Voltar para listagem", produtos_path %>

  <%= button_to "Excluir produto", @produto, method: :delete %>
</div>
