<% if notice %>
 <div class="alert alert-success" role="alert">
    <%= notice %>
 </div>
<% end %>

<%= render @produto %>

<div>
  <%= link_to "Editar produto", edit_produto_path(@produto), class: "btn btn-warning" %> 
  <%= link_to "Voltar para listagem", produtos_path, class: "btn btn-outline-primary" %>

  <%= button_to "Excluir produto", @produto, method: :delete, class: "btn btn-danger"%>
</div>
